= form_tag new_member_to_group_path(@group), class: 'well form-search ',method: :get do
  = text_field_tag :user_name, nil, class: 'input-medium search-query'
  = submit_tag t('public.search'), class: 'btn ml15', disable_with: t('public.disable_with')
